# Global file ex
original-*

# Obsidian
doc/.obsidian/app.json
doc/.obsidian/appearance.json
doc/.obsidian/workspace.json
doc/.obsidian/themes/Things/
doc/.obsidian/workspace.json
doc/.obsidian/workspace

#mpd
musicplayer/.config/mpd/mpd.db
musicplayer/.config/mpd/mpd.state
musicplayer/.config/mpd/sticker.sql
musicplayer/.config/mpd/playlists/*

nextCommit.md
